.selectclass{
    font-size: 15px;
    }
     .tableclass1{
         font-size: 20px;
         width: 700px;
         /* border: 5px solid black; */
         border-style: solid dotted double inherit;
         padding-left: 50px;
         padding-top: 50px;  
     }
     input[type='text'],input[type='password'],input[type='number'],input[type='email'],input[type='date'],select
     {
         height: 30px;
         width: 300px;
     }
     tr{
         line-height: 30px;
     }
     input[type="submit"]
     {
         width: 100px;
         height: 40;
         font-size: large;
         margin-left: 100px;
     }

     h1{
        text-align: center;
    }
    .preclass{
        font-family: 'Times New Roman', Times, serif; font-size: 20px;
    }
    .tableclass{
        font-size: 20px;width: 1300px;
    }
    .trclass{
        background-color: lemonchiffon;font-size: 20px;
    }
    .bclass{
        font-size: 20px;margin-left: 900px;
    }
    .aclass{
        font-size: 25px; background-color: aqua;
    }